/* 🌞 start common */

.cta-button {
  background-image: linear-gradient(to right, #9c61b9, #2e75b6);
  color: #ffffff;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.cta-button:hover {
  transform: translateY(-5px);
}

.divider {
  height: 4px;
  width: 70px;
  background-image: linear-gradient(to right, #9c61b9, #2e75b6);
  margin: 16px auto;
}

.card-title {
  margin-top: 0;
}

.card-btn-container {
  margin-top: 1.5rem;
  text-align: center;
}

.card {
  background-color: #f9f9f9;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  overflow: hidden;
}

.card:hover .card-img-top {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.card .card-img-top {
  transition: all 0.3s ease-in-out;
}

.card .card-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.card .card-text {
  font-size: 1.2rem;
  color: #666;
}

.border-divider-black {
  border-bottom: none;
  border-right: 1px solid #212529;
  border-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.075),
      #212529,
      rgba(0, 0, 0, 0.075)
    )
    1;
}

.pad-section {
  padding: 80px 0;
}

.neon-effect {
  color: #fff;
  text-shadow: 0 0 10px #9c61b9, 0 0 20px #9c61b9, 0 0 30px #9c61b9,
    0 0 40px #2e75b6, 0 0 70px #2e75b6, 0 0 80px #2e75b6, 0 0 100px #2e75b6,
    0 0 150px #2e75b6;
}

.blue-fire {
  color: #fff;
  text-shadow: 0 0 10px #2e75b6, 0 0 20px #2e75b6, 0 0 30px #2e75b6,
    0 0 40px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff, 0 0 100px #ffffff,
    0 0 150px #ffffff;
}

.glitch-effect {
  color: #fff;
  text-shadow: 0 0 2px #9c61b9, 0 0 4px #9c61b9, 0 0 6px #9c61b9,
    0 0 8px #2e75b6, 0 0 12px #2e75b6, 0 0 16px #2e75b6, 0 0 24px #2e75b6,
    0 0 32px #2e75b6, 0 0 48px #2e75b6, 0 0 64px #2e75b6, 0 0 80px #2e75b6;
}

.electric-effect {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #9c61b9,
    0 0 70px #9c61b9, 0 0 80px #9c61b9, 0 0 100px #9c61b9, 0 0 150px #2e75b6;
}

.gold-rush {
  color: #fff;
  text-shadow: 0 0 10px #c7a252, 0 0 20px #c7a252, 0 0 30px #c7a252,
    0 0 40px #b85c0f, 0 0 70px #b85c0f, 0 0 80px #b85c0f, 0 0 100px #b85c0f,
    0 0 150px #2e75b6;
}

.deep-sea {
  color: #fff;
  text-shadow: 0 0 10px #9c61b9, 0 0 20px #2e75b6, 0 0 30px #2e75b6,
    0 0 40px #113a5d, 0 0 70px #113a5d, 0 0 80px #113a5d, 0 0 100px #113a5d,
    0 0 150px #113a5d;
}

.sunny-day {
  color: #fff;
  text-shadow: 0 0 10px #f3e26a, 0 0 20px #f3e26a, 0 0 30px #f3e26a,
    0 0 40px #2e75b6, 0 0 70px #2e75b6, 0 0 80px #2e75b6, 0 0 100px #2e75b6,
    0 0 150px #fff;
}

/* end common 🌝*/

/* 🌞📱 common for mobile */

@media screen and (max-width: 767px) {
  .border-divider-black {
    border-right: none;
    border-bottom: 1px solid #212529;
    border-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.075),
        #212529,
        rgba(0, 0, 0, 0.075)
      )
      1;
  }
}

/* end common for mobile 📱🌝 */

/* 🌞💻 start common for desktop */

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    height: 520px;
  }

  .card .card-img-top {
    flex: 1 1 auto;
    height: 100%;
  }

  .card .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* end common for desktop 💻🌝 */

/* 🌞 start home */

#home {
  padding-top: 5rem !important;
}
#home .lottie-player-content {
  width: 480px;
}

#home .cta-button-content {
  text-align: left;
}

#home .trading-bg-content {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#home .trading-bg-content .container {
  position: relative;
}

#home .trading-bg {
  background-image: url("../images/trading-bg-2.png");
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
  width: 110%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  animation-name: animateBackground;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.1;
  animation-direction: alternate;
}

@keyframes animateBackground {
  0% {
    left: -10%;
    right: -10%;
  }
}

@media screen and (max-width: 768px) {
  .trading-bg-1 {
    animation-duration: 5s;
  }

  @keyframes animateBackground {
    0% {
      left: -20%;
      right: 80%;
    }
  }
}

/* end home 🌝 */

/* 🌞📱 start home for mobile */

@media screen and (max-width: 767px) {
  #home .lottie-player-content {
    max-width: 240px;
  }

  #home .cta-button-content {
    text-align: center;
  }

  #home h1,
  #home p {
    text-align: center;
  }
}

/* end home for mobile 📱🌝 */

/* 🌞 start portfolio */

#portfolio {
  position: relative;
  z-index: 0;
}

/* end portfolio 📱🌝 */

/* 🌞 start about us ***/
#about-us.bg {
  background-image: url("../images/about-us-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about-us {
  padding: 80px 0;
}

#about-us h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

#about-us p {
  font-size: 18px;
  line-height: 1.8em;
  margin-bottom: 20px;
  text-align: justify;
  padding: 1rem;
}

#about-us hr {
  border-top: 2px solid #f8b500;
  width: 80px;
  margin: nuto;
  margin-bottom: 40px;
}

/* end about us 🌝  */

/* 🌞📱 start about for mobile and md */

@media (max-width: 992px) {
  #about-us h2 {
    font-size: 30px;
  }
  #about-us p {
    font-size: 16px;
  }
}

/* end about for mobile and md 📱🌝 */

#next-releases .main-icon {
  color: white;
  font-size: 10rem;
  text-align: center;
}

#next-releases .title-icon {
  color: white;
}

#next-releases .title-icon {
  width: 60px;
  height: 60px;
  font-size: 24px;
  line-height: 60px;
  background-image: linear-gradient(to right, #9c61b9, #2e75b6);
  padding-left: 0.5rem;
}

#next-releases .text-muted {
  color: #b0cde7 !important;
}

#next-releases h5 {
  white-space: nowrap;
  color: ghostwhite;
}
